*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper h2 {
    margin: 20px auto;
    text-align: center;
    font-size: 40px;
    color: rgb(51, 51, 51);
}

.card {
    width: 32%;
    overflow: hidden;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
}

.card:hover img {
    filter: grayscale(0);
}

.card figcaption{
    position: absolute;
    bottom: 0;
    width: fit-content;
    height: 16%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    padding: 25px;
    opacity: 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.card:hover figcaption{
    opacity: 1;
    bottom: 40%;
    transform: translateY(-50%) rotate(360deg);
    transition: 1s;
}